<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TelephoneCreateDlg" widgetVar="TelephoneCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateTelephoneTitle}" closeOnEscape="true">

            <h:form id="TelephoneCreateForm">

                <h:panelGroup id="display" rendered="#{telephoneController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateTelephoneLabel_telephonenumber}" for="telephonenumber" />
                        <p:inputTextarea rows="4" cols="30" id="telephonenumber" value="#{telephoneController.selected.telephonenumber}" title="#{myBundle.CreateTelephoneTitle_telephonenumber}" required="true" requiredMessage="#{myBundle.CreateTelephoneRequiredMessage_telephonenumber}"/>

                        <p:outputLabel value="#{myBundle.CreateTelephoneLabel_personname}" for="personname" />
                        <p:selectOneMenu id="personname" value="#{telephoneController.selected.personname}" required="true" requiredMessage="#{myBundle.CreateTelephoneRequiredMessage_personname}" converter="#{personConverter}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.items}"
                                           var="personnameItem"
                                           itemValue="#{personnameItem}"
                                           itemLabel="#{personnameItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{telephoneController.saveNew}" value="#{myBundle.Save}" update="display,:TelephoneListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TelephoneCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('TelephoneCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
