<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="TelephoneEditDlg" widgetVar="TelephoneEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditTelephoneTitle}" closeOnEscape="true">

            <h:form id="TelephoneEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{telephoneController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditTelephoneLabel_telephonenumber}" for="telephonenumber" />
                        <h:outputText id="telephonenumber" value="#{telephoneController.selected.telephonenumber}" />

                        <p:outputLabel value="#{myBundle.EditTelephoneLabel_personname}" for="personname" />
                        <p:selectOneMenu id="personname" value="#{telephoneController.selected.personname}" required="true" requiredMessage="#{myBundle.EditTelephoneRequiredMessage_personname}" converter="#{personConverter}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.items}"
                                           var="personnameItem"
                                           itemValue="#{personnameItem}"
                                           itemLabel="#{personnameItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{telephoneController.save}" value="#{myBundle.Save}" update="display,:TelephoneListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TelephoneEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('TelephoneEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
