<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="TelephoneListForm">

        <p:panel header="#{myBundle.ListTelephoneTitle}">
            <p:dataTable id="datalist"
                         value="#{telephoneController.items}"
                         lazy="false"
                         rowKey="#{item.telephonenumber}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{telephoneController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{telephoneController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.telephonenumber}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="createButton,viewButton,editButton,deleteButton"/>
                <p:ajax event="rowUnselect" update="createButton,viewButton,editButton,deleteButton"/>

                <p:column filterBy="#{item.telephonenumber}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTelephoneTitle_telephonenumber}"/>
                    </f:facet>
                    <h:outputText value="#{item.telephonenumber}"/>
                </p:column>


                <p:column filterBy="#{item.personname.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTelephoneTitle_personname}"/>
                    </f:facet>
                    <h:outputText value="#{item.personname.name}"/>
                </p:column>

                <f:facet name="footer">
                    <div class="footer-section">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{telephoneController.prepareCreate}" update=":TelephoneCreateForm" oncomplete="PF('TelephoneCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{myBundle.View}" update=":TelephoneViewForm" oncomplete="PF('TelephoneViewDialog').show()" disabled="#{empty telephoneController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":TelephoneEditForm" oncomplete="PF('TelephoneEditDialog').show()" disabled="#{empty telephoneController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{telephoneController.delete}" update=":growl,datalist" disabled="#{empty telephoneController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:dataTable>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>