<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TelephoneViewDlg" widgetVar="TelephoneViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewTelephoneTitle}" closeOnEscape="true">

            <h:form id="TelephoneViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{telephoneController.selected != null}">

                        <h:outputText value="#{myBundle.ViewTelephoneLabel_telephonenumber}"/>
                        <h:outputText value="#{telephoneController.selected.telephonenumber}" title="#{myBundle.ViewTelephoneTitle_telephonenumber}"/>

                        <h:outputText value="#{myBundle.ViewTelephoneLabel_personname}"/>
                        <h:outputText value="#{telephoneController.selected.personname.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('TelephoneViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
