<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonCreateDlg" widgetVar="PersonCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePersonTitle}" closeOnEscape="true">

            <h:form id="PersonCreateForm">

                <h:panelGroup id="display" rendered="#{personController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePersonLabel_name}" for="name" />
                        <p:inputTextarea rows="4" cols="30" id="name" value="#{personController.selected.name}" title="#{myBundle.CreatePersonTitle_name}" required="true" requiredMessage="#{myBundle.CreatePersonRequiredMessage_name}"/>

                        <p:outputLabel value="#{myBundle.CreatePersonLabel_age}" for="age" />
                        <p:inputTextarea rows="4" cols="30" id="age" value="#{personController.selected.age}" title="#{myBundle.CreatePersonTitle_age}" required="true" requiredMessage="#{myBundle.CreatePersonRequiredMessage_age}"/>

                        <p:outputLabel value="#{myBundle.CreatePersonLabel_country}" for="country" />
                        <p:inputTextarea rows="4" cols="30" id="country" value="#{personController.selected.country}" title="#{myBundle.CreatePersonTitle_country}" required="true" requiredMessage="#{myBundle.CreatePersonRequiredMessage_country}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personController.saveNew}" value="#{myBundle.Save}" update="display,:PersonListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PersonCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PersonCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
