<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PersonEditDlg" widgetVar="PersonEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPersonTitle}" closeOnEscape="true">

            <h:form id="PersonEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{personController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPersonLabel_name}" for="name" />
                        <h:outputText id="name" value="#{personController.selected.name}" />

                        <p:outputLabel value="#{myBundle.EditPersonLabel_age}" for="age" />
                        <p:inputTextarea rows="4" cols="30" id="age" value="#{personController.selected.age}" title="#{myBundle.EditPersonTitle_age}" required="true" requiredMessage="#{myBundle.EditPersonRequiredMessage_age}"/>

                        <p:outputLabel value="#{myBundle.EditPersonLabel_country}" for="country" />
                        <p:inputTextarea rows="4" cols="30" id="country" value="#{personController.selected.country}" title="#{myBundle.EditPersonTitle_country}" required="true" requiredMessage="#{myBundle.EditPersonRequiredMessage_country}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personController.save}" value="#{myBundle.Save}" update="display,:PersonListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PersonEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PersonEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
