<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PersonListForm">

        <p:panel header="#{myBundle.ListPersonTitle}">
            <p:dataTable id="datalist"
                         value="#{personController.items}"
                         lazy="false"
                         rowKey="#{item.name}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{personController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{personController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.name}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="createButton,viewButton,editButton,deleteButton"/>
                <p:ajax event="rowUnselect" update="createButton,viewButton,editButton,deleteButton"/>

                <p:column filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column filterBy="#{item.age}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonTitle_age}"/>
                    </f:facet>
                    <h:outputText value="#{item.age}"/>
                </p:column>


                <p:column filterBy="#{item.country}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonTitle_country}"/>
                    </f:facet>
                    <h:outputText value="#{item.country}"/>
                </p:column>

                <f:facet name="footer">
                    <div class="footer-section">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{personController.prepareCreate}" update=":PersonCreateForm" oncomplete="PF('PersonCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{myBundle.View}" update=":PersonViewForm" oncomplete="PF('PersonViewDialog').show()" disabled="#{empty personController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":PersonEditForm" oncomplete="PF('PersonEditDialog').show()" disabled="#{empty personController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{personController.delete}" update=":growl,datalist" disabled="#{empty personController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:dataTable>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>