<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonViewDlg" widgetVar="PersonViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPersonTitle}" closeOnEscape="true">

            <h:form id="PersonViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{personController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPersonLabel_name}"/>
                        <h:outputText value="#{personController.selected.name}" title="#{myBundle.ViewPersonTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewPersonLabel_age}"/>
                        <h:outputText value="#{personController.selected.age}" title="#{myBundle.ViewPersonTitle_age}"/>

                        <h:outputText value="#{myBundle.ViewPersonLabel_country}"/>
                        <h:outputText value="#{personController.selected.country}" title="#{myBundle.ViewPersonTitle_country}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PersonViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
