<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="KnowCreateDlg" widgetVar="KnowCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateKnowTitle}" closeOnEscape="true">

            <h:form id="KnowCreateForm">

                <h:panelGroup id="display" rendered="#{knowController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateKnowLabel_knowPK_knownpersonname}" for="knowPK_knownpersonname" />
                        <p:inputTextarea rows="4" cols="30" id="knowPK_knownpersonname" value="#{knowController.selected.knowPK.knownpersonname}" title="#{myBundle.CreateKnowTitle_knowPK_knownpersonname}" required="true" requiredMessage="#{myBundle.CreateKnowRequiredMessage_knowPK_knownpersonname}"/>

                        <p:outputLabel value="#{myBundle.CreateKnowLabel_knowPK_server}" for="knowPK_server" />
                        <p:inputTextarea rows="4" cols="30" id="knowPK_server" value="#{knowController.selected.knowPK.server}" title="#{myBundle.CreateKnowTitle_knowPK_server}" required="true" requiredMessage="#{myBundle.CreateKnowRequiredMessage_knowPK_server}"/>

                        <p:outputLabel value="#{myBundle.CreateKnowLabel_personname}" for="personname" />
                        <p:selectOneMenu id="personname" value="#{knowController.selected.personname}" required="true" requiredMessage="#{myBundle.CreateKnowRequiredMessage_personname}" converter="#{personConverter}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.items}"
                                           var="personnameItem"
                                           itemValue="#{personnameItem}"
                                           itemLabel="#{personnameItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{knowController.saveNew}" value="#{myBundle.Save}" update="display,:KnowListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('KnowCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('KnowCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
