<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="KnowEditDlg" widgetVar="KnowEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditKnowTitle}" closeOnEscape="true">

            <h:form id="KnowEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{knowController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditKnowLabel_knowPK_knownpersonname}" for="knowPK_knownpersonname" />
                        <h:outputText id="knowPK_knownpersonname" value="#{knowController.selected.knowPK.knownpersonname}" />


                        <h:outputLabel value="#{myBundle.EditKnowLabel_knowPK_server}" for="knowPK_server" />
                        <h:outputText id="knowPK_server" value="#{knowController.selected.knowPK.server}" />

                        <p:outputLabel value="#{myBundle.EditKnowLabel_personname}" for="personname" />
                        <p:selectOneMenu id="personname" value="#{knowController.selected.personname}" required="true" requiredMessage="#{myBundle.EditKnowRequiredMessage_personname}" converter="#{personConverter}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.items}"
                                           var="personnameItem"
                                           itemValue="#{personnameItem}"
                                           itemLabel="#{personnameItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{knowController.save}" value="#{myBundle.Save}" update="display,:KnowListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('KnowEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('KnowEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
