<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="KnowListForm">

        <p:panel header="#{myBundle.ListKnowTitle}">
            <p:dataTable id="datalist"
                         value="#{knowController.items}"
                         lazy="false"
                         rowKey="#{item.knowPK}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{knowController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{knowController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.knowPK}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="createButton,viewButton,editButton,deleteButton"/>
                <p:ajax event="rowUnselect" update="createButton,viewButton,editButton,deleteButton"/>

                <p:column filterBy="#{item.knowPK.knownpersonname}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListKnowTitle_knowPK_knownpersonname}"/>
                    </f:facet>
                    <h:outputText value="#{item.knowPK.knownpersonname}"/>
                </p:column>


                <p:column filterBy="#{item.knowPK.server}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListKnowTitle_knowPK_server}"/>
                    </f:facet>
                    <h:outputText value="#{item.knowPK.server}"/>
                </p:column>


                <p:column filterBy="#{item.personname.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListKnowTitle_personname}"/>
                    </f:facet>
                    <h:outputText value="#{item.personname.name}"/>
                </p:column>

                <f:facet name="footer">
                    <div class="footer-section">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{knowController.prepareCreate}" update=":KnowCreateForm" oncomplete="PF('KnowCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{myBundle.View}" update=":KnowViewForm" oncomplete="PF('KnowViewDialog').show()" disabled="#{empty knowController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":KnowEditForm" oncomplete="PF('KnowEditDialog').show()" disabled="#{empty knowController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{knowController.delete}" update=":growl,datalist" disabled="#{empty knowController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:dataTable>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>