<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="KnowViewDlg" widgetVar="KnowViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewKnowTitle}" closeOnEscape="true">

            <h:form id="KnowViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{knowController.selected != null}">

                        <h:outputText value="#{myBundle.ViewKnowLabel_knowPK_knownpersonname}"/>
                        <h:outputText value="#{knowController.selected.knowPK.knownpersonname}" title="#{myBundle.ViewKnowTitle_knowPK_knownpersonname}"/>

                        <h:outputText value="#{myBundle.ViewKnowLabel_knowPK_server}"/>
                        <h:outputText value="#{knowController.selected.knowPK.server}" title="#{myBundle.ViewKnowTitle_knowPK_server}"/>

                        <h:outputText value="#{myBundle.ViewKnowLabel_personname}"/>
                        <h:outputText value="#{knowController.selected.personname.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('KnowViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
